<script src="./js/bootstrap.js"></script>
<% if (page=="home") { %>
 <script src="./js/index.js"></script>
<% } else if(page=="login"){ %>
<script src="./js/login.js"></script>
<% } %>
</body>
</html>