<script src="./js/bootstrap.js"></script>
<% if (page=="home") { %>
    <script src="./js/index.js"></script>
<% } else if(page=="login"){ %>
    <script src="./js/login.js"></script>
<% } else if(page=="empleado"){ %>
    <script src="/js/empleado.js"></script>
<% } else if(page=="horario"){ %>
    <script src="/js/horario.js"></script>
<% } %> 
</body>
</html>