<nav class="nav-container">
  <% if (page=="dashboard") { %>
    <h4>Bienvenido <%- user %>  </h4>
    <div class="menu-container">
        <a href="/dashboard/logout">Cerrar Sesion</a>
    </div>
   <% } else if (page=="login") { %>
    <h4><a href="/">Sistema de asistencia</a></h4>
     <div class="menu-container">
         <a href="/">Volver</a>
     </div>
  <% } else { %>
    <h4><a href="/">Sistema de asistencia</a></h4>
    <ul class="menu-container">
        <li class="menu-item"><a href="/login">Acceso admin</a></li>
        <li class="menu-item"><a href="#">Otro link</a></li>
    </ul>
  <% } %>
  
   
</nav>
