<div class="side-bar-container">
    <ul>
        <li><a href="/dashboard/mantenimientoEmpleado/" >
            <div class="icon">
                <i class="fas fa-users"></i>
            </div>
            Empleados</a></li>
        <li><a href="/dashboard/mantenimientoHorario" >
            <div class="icon">
                <i class="fas fa-clock"></i>
            </div>
            Horarios</a></li>
        <li><a href="/dashboard/calendario" >
            <div class="icon">
                <i class="fas fa-calendar-day"></i>
            </div>
            Calendario</a></li>
        <li><a href="/dashboard/feriados" >
            <div class="icon">
                <i class="fas fa-umbrella-beach"></i>
            </div>
            Feriados</a></li>
        <li><a href="/dashboard/reportes" >
            <div class="icon">
                <i class="fas fa-book"></i>
            </div>
            Reportes</a></li>
        <li><a href="/dashboard/estadisticas" >
            <div class="icon">
                <i class="fas fa-chart-bar"></i>
            </div>
            Estadisticas</a></li>
    </ul>
</div>