<%- include("template/cabecera",{titulo:"Dashboard|Admin",section:''}) %>
<%- include("template/navbar",{page:"dashboard",user:nombreUsuario}) %> 

<div class="dashboard-container">
    <%- include("template/sidebar") %> 
    <div class="content">
        <div class="default-view">
            <h1>Administracion del Sistema</h1>
        </div>
    </div>
</div>

<%- include("template/footer",{page:"dashboard"}) %> 