<%- include("template/cabecera",{titulo:"Dashboard|Admin"}) %>
<%- include("template/navbar",{page:"dashboard",user:nombreUsuario}) %> 

<div class="dashboard-container">
    <%- include("template/sidebar") %> 
    <div class="content">
        Seleccione un mes para mostrar los registros: <select name="" id="">
            <option value="1">Test</option>
        </select>
        <button type="button">Mostrar</button>
        <table>
            <tr>
                <th>Dni</th>
                <th>Nombre</th>
                <th>Descuento del mes</th>
            </tr>
        </table>
        
    </div>
</div>

<%- include("template/footer",{page:"empleado"}) %> 