<%- include("template/cabecera",{titulo:"Sistema de asistencia",section:''}) %> <%-
include("template/navbar") %>
<div class="main-container">
  <div class="fecha-container">
    <h2 id="fecha">-</h2>
  </div>
  <div class="reloj-container">
    <h4>Hora del sistema</h4>
    <h1 id="reloj">-</h1>
    <span id="ampm">-</span>
  </div>
  <button id="btn-open-modal">Marcar asistencia</button>
  <div class="messages-container" id="messagesContainer">
    <span id="flashErrorMessage"><%= message %> </span>
    <span id="flashErrorMessageCountDown"></span>
  </div>
    <!-- <button type="button" id="closeErrorMessage">X</button> -->
  
  <div class="modal-background">
    <form class="modal-container" method="post" action="/marcar">
      <div class="modal-title">
        <span>Marcar asistencia</span>
        <button type="button" class="close-modal" id="closeModal">
            <i class="fas fa-times"></i>
        </button>
      </div>
      <div class="modal-body">
        <input type="text" name="dni" id="inputDni" placeholder="Ingrese DNI" autocomplete="off" />
        <p class="message-error" id="messageError"></p>
      </div>
      <div class="modal-footer">
        <button type="button" id="btnCancel"><i class="fas fa-ban"></i>Cancelar</button>
        <button type="submit" id="btnSubmitData"><i class="fas fa-check"></i>Marcar</button>
      </div>
    </form>
  </div>
</div>

<%- include("template/footer",{page:"home"}) %>
