<%- include("template/cabecera",{titulo:"Sistema de asistencia"}) %> <%-
include("template/navbar") %>
<div class="main-container">
  <% if (errmsg!="") { %>
    <p style="color:red;"><%= errmsg %></p>
  <% } %>

  <div class="fecha-container">
    <h2 id="fecha">-</h2>
  </div>
  <div class="reloj-container">
    <h4>Hora del sistema</h4>
    <h1 id="reloj">-</h1>
    <span id="ampm">-</span>
  </div>
  <button id="btn-open-modal">Marcar asistencia</button>
  <!-- <div class="registros-entrada-container">
    <table class="registros-entrada" border="1">
      <tr>
        <th>Codigo</th>
        <th>Nombre</th>
        <th>Hora</th>
        <th>Retraso</th>
      </tr>
    </table>
  </div> -->
  <div class="modal-background">
    <form class="modal-container" method="post" action="/marcar">
      <div class="modal-title">
        <span>Marcar asistencia</span>
        <button type="button" class="close-modal" id="closeModal">
            <i class="fas fa-times"></i>
        </button>
      </div>
      <div class="modal-body">
        <input type="text" name="dni" placeholder="Ingrese DNI" />
      </div>
      <div class="modal-footer">
        <button type="button" id="btnCancel"><i class="fas fa-ban"></i>Cancelar</button>
        <button type="submit"><i class="fas fa-check"></i>Marcar</button>
      </div>
    </form>
  </div>
</div>

<%- include("template/footer",{page:"home"}) %>
